<div id="container_perfil">
    
        <h2>Ingrese todo los campos para ser verificado</h2>
        <form class="ctn" (ngSubmit)="onSubmit()" ><!-- #myForm="ngForm" -->
            
            <div class="imagenUrl">
                <img  [src]="imagenUrl" > 
                <input type="file" (change)="onFileSelected($event)">
            </div>
            
            <div>
                <strong class="tipo_dato">Nombre completo</strong>
                <input class="dato" type="text" name='nombre' [(ngModel)]="usuario.fullName">
            </div>

            <div>
                <strong class="tipo_dato">Dni</strong>
                <input class="dato" type="text" name="dni" [(ngModel)]="usuario.dni">
            </div>

            <div>
                <strong class="tipo_dato">Dirección</strong>
                <input class="dato" type="text" name="Dirección" [(ngModel)]="usuario.adress">
            </div>

            <a routerLink="/Perfil" (click)="registrar(true)" >  
                <input type="submit" class="btn" 
                   value="GUARDAR" >
            </a>
            
            <a routerLink="/Perfil">
    
                <button class="btn"  (click)="toggleEditMode(false)" >CANCELAR</button>
            </a>

        </form>
        
</div>