div{
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-family:'Trebuchet MS';
}
p{
    font-size: 2rem;
}
div img{
    height: 80%;
}