<header >
    <section class="container">
        <a routerLink="EstamosTrabajando"  class="link">
            Sobre Nosotros
        </a>
        <a id="logo" class="link" routerLink="" >
            <img src="../../../assets/logo.png" alt="">
            LuminaBank
        </a>
        <div>
            <a routerLink="EstamosTrabajando">
                <button class="btn"  >
                Banca Empresas
                </button>
            </a>
            <a routerLink="EstamosTrabajando">
                <button class="btn">
                    Banca Personas
                </button>
            </a>       
        </div>
    </section>
</header>
